@media (max-width: 900px){
    .home-main section{
        height: 520px;
    } 
    .home-main-button{
        margin-left: -10px;
    }   
    .Menu{
        justify-content: center;
    }
    .MiBlog{
        font-size: 15px;
        margin-right: 10px;
    }
    .contenedorPerfil{
        display: block;
    }
    .contenedorPerfil img{
        width: 100%;
    }
    .post-container{
        display: block;
        max-width: 100%;
    }
    .Dibujo-container{
        display: block;
    }
    .Dibujo-container img{
        margin-left: 100px;
    }
    footer section{
        justify-content:center;
    }
}

@media (max-width: 600px){
    .home-main section{
        height: 520px;
    }
    .home-main-button{
        margin-left: -10px;
    }   
    .Menu{
        justify-content: center;
    }
    .MiBlog{
        font-size: 15px;
        margin-right: 10px;
    }
    .contenedorPerfil{
        display: block;
    }
    .contenedorPerfil img{
        width: 100%;
    }
    .post-container{
        display: block;
        max-width: 100%;
    }
    .Dibujo-container{
        display: block;
    }
    .Dibujo-container img{
        margin-left: 50px;
    }
    footer section{
        justify-content:center;
    }
}