@media (max-width: 900px){
    .home-main section{
        height: 500px;
    }    
    .post-container{
        display: block;
    }
}

@media (max-width: 600px){
    .home-main section{
        height: 500px;
    }
    .post-container{
        display: block;
    }
}